footer {
    margin: 0 auto;
    text-align: center;
    align-items: baseline;
    height: unset !important;
    background-color: #fff;
    border-top: 5px solid #009966;
}

    footer .subtitulo-footer-primeiro {
        width: 100%;
    }

    footer .footer-organization {
        display: flex;
    }
        footer .footer-organization .ufs {
            text-align: center;
            margin-bottom: 5px;
        }

    footer .footer-copyright {
        text-align: center;
        color: #000;
        border-top: 1px solid #24525f;
        position: relative;
        top: 8px;
        clear: both;
        width: 100%;
    }
    footer .subtitulo-footer-primeiro {
        color: #237A23;
    }
    footer .bumper {
        background-color: rgb(214, 214, 214);
    }
    footer p.report-bugs {
        opacity: 0.3;
        border-color: rgb(214, 214, 214);
        margin-bottom: 0;
    }
    footer .flag-counter {
        text-align: center;
        background-color: rgb(214, 214, 214);
    }

@media (max-width: 911px) {
    /*footer .footer-organization {
        display: inline-grid;
        padding: 0;
        text-align: -webkit-center;
    }*/

        footer .footer-organization .unifacs {
            width: 310px;
            height: 95px;
            margin: 0;
            padding: 0;
        }

            footer .footer-organization .unifacs img {
                width: 310px;
                height: 95px;
            }

    footer .flag-counter img {
        width: 310px;
        height: 95px;
    }
}
@media (max-width: 768px) {
    footer .footer-organization {
        display: inline-flex;
        padding: 0;
        text-align: -webkit-center;
    }

        footer .footer-organization .unifacs {
            width: 310px;
            height: 95px;
            margin: 0;
            padding: 0;
        }

        footer .footer-organization .ufs {
            width: 310px;
            height: 95px;
            margin: 0 0 10px 0;
            padding: 0;
        }

        footer .footer-organization .unifacs img {
            width: 310px;
            height: 95px;
        }

    footer .flag-counter img {
        width: 310px;
        height: 95px;
    }
}
@media (max-width: 576px) {
    footer .footer-organization {
        display: inline-grid;
    }
        footer .footer-organization .unifacs {
            width: 310px;
            height: 95px;
            margin: 0;
            padding: 0;
        }
        footer .footer-organization .ufs {
            width: 310px;
            height: 95px;
            margin: 0 0 10px 0;
            padding: 0;
        }

        footer .footer-organization .unifacs img {
            width: 310px;
            height: 95px;
        }
    footer .bumper {
    
    }

    footer p.report-bugs {
        font-size: xx-small;
    }
    footer .flag-counter img {
        width: 100%;
        height: 95px;
    }
    footer p.flag-counter {
        padding-top: -5px;
        margin: 0;
        margin-top: -15px;
        -webkit-margin-after: 0;
    }
        
}

