.paragraph_style {
	color: #006600;
	font-family: '!CRASSROOTSOFL', '!CRASS ROOTS OFL';
	font-size: 48px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 59px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	opacity: 1.00;
	padding-bottom: 0px;
	padding-top: 0px;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
}
.paragraph_style_1 {
	color: #006600;
	font-family: 'TrebuchetMS-Bold', 'Trebuchet MS', sans-serif;
	font-size: 16px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	letter-spacing: 0;
	line-height: 18px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	opacity: 1.00;
	padding-bottom: 8px;
	padding-top: 0px;
	text-align: justify;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
}
.paragraph_style_2 {
	color: rgb(169, 169, 169);
	font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
	font-size: 14px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 14px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	opacity: 1.00;
	padding-bottom: 3px;
	padding-top: 0px;
	text-align: justify;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
}
.paragraph_style_3 {
	color: #009966;
	font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
	font-size: 28px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 29px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	opacity: 1.00;
	padding-bottom: 0px;
	padding-top: 0px;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
}
.paragraph_style_4 {
	color: #009966;
	font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
	font-size: 18px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 19px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	opacity: 1.00;
	padding-bottom: 0px;
	padding-top: 0px;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
}
.paragraph_style_5 {
	color: #009966;
	font-family: 'TrebuchetMS-Bold', 'Trebuchet MS', sans-serif;
	font-size: 24px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	letter-spacing: 0;
	line-height: 34px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	opacity: 1.00;
	padding-bottom: 0px;
	padding-top: 0px;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
}
.paragraph_style_6 {
    color: rgb(146, 146, 146);
    font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 8px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style {
    font-family: 'AndaleMono', 'Andale Mono';
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}
.style_1 {
    font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}
.style_2 {
    font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}
.style_3 {
    color: rgb(94, 94, 94);
    font-family: 'AndaleMono', 'Andale Mono';
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    opacity: 1.00;
}
.paragraph_style_7 {
	color: rgb(121, 121, 121);
	font-family: 'TrebuchetMS-Bold', 'Trebuchet MS', sans-serif;
	font-size: 16px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	letter-spacing: 0;
	line-height: 14px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	opacity: 1.00;
	padding-bottom: 8px;
	padding-top: 0px;
	text-align: justify;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
}
.paragraph_style_8 {
	color: rgb(169, 169, 169);
	font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
	font-size: 14px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 14px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	opacity: 1.00;
	padding-bottom: 0px;
	padding-top: 0px;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
}
.paragraph_style_9 {
	color: #006600;
	font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
	font-size: 12px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 14px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	opacity: 1.00;
	padding-bottom: 0px;
	padding-top: 0px;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
}
.style_4 {
	color: #009933;
	line-height: 14px;
	opacity: 1.00;
}
.style_5 {
    color: rgb(94, 94, 94);
    font-family: 'TrebuchetMS-Italic', 'Trebuchet MS', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.paragraph_style_10 {
    color: rgb(81, 78, 78);
    font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_11 {
	color: #006600;
	font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
	font-size: 12px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 14px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	opacity: 1.00;
	padding-bottom: 0px;
	padding-top: 0px;
	text-align: justify;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.Body {
    color: rgb(169, 169, 169);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Free_Form {
    color: rgb(169, 169, 169);
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Heading_2 {
    color: rgb(121, 121, 121);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 8px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Quote {
    color: rgb(255, 255, 255);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 28px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 31px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Title {
    color: rgb(255, 38, 0);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 28px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 31px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_shape_layout_style_default_External_247_72 {
    position: relative;
}
.graphic_shape_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_606_199 {
    position: relative;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_212_100 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_362_39 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_664_63 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_234_100 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_234_90 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_491_40 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
	color: #999999;
	text-decoration: none;
}
a:visited {
	color: #999999;
	text-decoration: none;
}
a.class1 {
    color: rgb(0, 150, 255);
}
a.class1:visited {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
a.class1:hover {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
a:hover {
	color: #333333;
	text-decoration: none;
}
ol  { 
      padding:0;
      margin:0;
      text-indent:0;
      list-style-type:none ;
      list-style-image:none
    }
.Bullet { 
          text-decoration:none ;
          text-transform:none ;
          border: none;          
        }
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a:hover {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
#widget0 a:visited {
    color: rgb(1, 25, 147);
    text-decoration: none;
}
#widget0 a {
    color: rgb(0, 84, 147);
    text-decoration: none;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
